header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.726)),
    url(header-background.png);
  background-size: cover;
  background-position: center;
  height: 60vh;
  text-align: center;
}

header h1 {
  color: #fff;
}

.search-bar {
  position: absolute;
  width: 100%;
  top: 50%;
}

.film {
  display: inline-block;
}
